<h2>Overview</h2>

<h2>Dish</h2>
<% dishes.each do |dish| %>
  <li><%= dish['title'] %></li>
<% end %>

<h2>Restaurant</h2>
<% restaurants.each do |restaurant| %>
  <li><%= restaurant['name'] %></li>
<% end %>
